.wcm-search-container{
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 50px 0px 30px 0px;
}

.wcm-search-container > h2{
    padding-right: 10px;
}

.wcm-search-button{
    padding-left: 10px;
}